/* global variables */
:root {
    --primary: #000834;
    --white: #EEF6F9;
    --secondary: #1624a1;
}

body {
    text-align: center;
    background-color: #EEF6F9;
    color: var(--white);
    margin: 0;
}

.invisible {
    display: none;
}

/* Header section */
header {
    background-color: var(--primary);
    padding: 30px 0;
    font-family: 'Kanit', sans-serif;
}

nav {
    background-color: var(--secondary);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 10px;
}

.link-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
}

.mobile-links {
    display: none;
}

.menu ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    margin: auto;
}

.image-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15% 10px;
}

.title-name {
    font-size: 1.5rem;
    font-family: 'Courgette', cursive;
}

.my-img {
    width: 150px;
    margin-right: 10px;
}

/* main section */
/* services section */
.services {
    background-color: #a2bdf2;
    padding: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
}

.services h1 {
    font-size: 3rem;
}

.services h2 {
    color: #000834;
}

.skills {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.skill-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0;
    margin: 30px 0;
}

.skill-row img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.skill-row .description {
    padding: 0 20px;
    width: 70%;
}

/* projects section */
.projects {
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    padding: 100px 20px;
    font-family: 'Oswald', sans-serif;
}

.projects h1 {
    color: var(--white);
    font-size: 2rem;
    text-decoration: underline;
}

.pro-div img {
    height: 200px;
    width: 200px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.pro-description {
    padding: 50px 20%;
    font-size: 1.5rem;
}

.btn-move-left,
.btn-move-right {
    cursor: pointer;
    position: relative;
    justify-content: center;
    width: 50px;
    font-size: 1.5rem;
}

.btn-move-left i,
.btn-move-right i {
    margin-top: 50%;
}

/* contact section */
.contact {
    padding: 12% 20%;
    background-color: #a2bdf2;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.contact h1,
.services h1 {
    color: #071060;
    text-decoration: underline;
    margin-bottom: 5%;
    font-weight: bold;
}

.contact h2 {
    margin: 100px;
}

.contact a {
    text-decoration: none;
    background-color: #000834;
    padding: 10px 40px;
    border-radius: 20px;
}

.contact a:hover {
   background-color: #3b6ac9;
}

/* Footer section */
footer {
    background-color: var(--primary);
    padding: 60px;
    font-family: 'Courgette', cursive;
    font-style: italic;
}

footer ul {
    list-style: none;
    padding: 20px;
    margin-bottom: 50px;
}

footer ul li {
    display: inline;
    margin: 30px;
}

@media (max-width: 900px) {

    /* header section */
    nav {
        grid-template-columns: 60% 40%;
    }

    .mobile-links {
        display: block;
    }

    .link-list {
        display: none;
    }

    .menu {
        position: absolute;
        text-align: left;
        line-height: 3;
        background-color: var(--secondary);
        width: 150px;
    }

    .menu-btn {
        width: 40%;
        padding: 10px;
        font-size: 1rem;
        background-color: var(--secondary);
        border: none;
        color: var(--white);
    }
    
    .image-name-container {
        flex-direction: column;
    }
    
    .title-name {
        font-size: 1rem;
    }
    /* services section */
    .skills {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 0;

    }

    .skill-row .description {
        margin-left: 5px;
    }

    .services {
        padding-left: 10px;
        padding-right: 0;
        align-items: left;
    }

    .contact {
        padding: 12% 0;
    }
    .contact h2 {
        margin: 50 0;
    }
    /*projects section*/
    .pro-description {
        padding: 0;
        font-size: 1.2rem;
    }
    
    /*footer section*/
    footer {
        padding: 60px 0;
    }
    
}
